:root {
    --body-background: rgb(0, 69, 71);
    --h3-background: beige;
    --submit-background: rgb(8, 40, 41);
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--body-background);
}

div.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    color: white;
    font-size: 6rem;
    font-weight: 300;
    /* margin-top: 3rem; */
}

h3 {
    width: 60%;
    min-height: 10rem;
    background-color: var(--h3-background);
    word-break: break-all;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 500;
    padding: 1rem;
    margin: 3rem 0 2rem;
}

form {
    width: 60%;
    padding: 1rem;
}

form>div {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label {
    font-size: 2rem;
    color: white;
    font-weight: 500;
}

input[type='range'] {
    width: 20rem;
}

input[type='checkbox'] {
    width: 2rem;
    height: 2rem;
}

button {
    width: 100%;
    height: 6rem;
    background-color: var(--submit-background);
    border: none;
    /* outline: none; */
    margin-top: 2rem;
    cursor: pointer;
}